* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, "PingFang SC", "Microsoft Yahei", sans-serif;
}
body {
	background-color: #0f141c;
	opacity: 1;
	background-image: radial-gradient(
		#212943 0.6000000000000001px,
		#0f141c 0.6000000000000001px
	);
	background-size: 12px 12px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
main {
	margin-top: 200px;
	display: flex;
	width: 500px;
	height: 100px;
	border-radius: 5px;
	overflow: hidden;
}
.eater {
	position: absolute;
	width: 100px;
	height: 100px;
}
.circle {
	width: 100px;
	height: 100px;
	background: hsl(300deg, 90%, 50%);

	border-radius: 100%;
}
.circle-down {
	width: 100px;
	height: 100px;
	background: hsl(300deg, 90%, 50%);
	border-radius: 100%;
	transform: translateY(-50%);
}
.half {
	position: relative;
	width: 100px;
	height: 50px;
	overflow: hidden;
	animation: UpRotate 1s ease infinite;
	transform-origin: 50% 100%;
}
.half-down {
	animation: DownRotate 1s ease infinite;
	transform-origin: 50% 0%;
}
.eye {
	position: absolute;
	top: 0;
	left: 30px;
	width: 30px;
	height: 30px;
	background: linear-gradient(90deg, hsl(0deg, 60%, 50%), hsl(50deg, 90%, 50%));
	border: 4px white solid;
	border-radius: 100%;
}
.beans {
	position: relative;
	left: 500px;
	transform: translateY(40px);
	z-index: -1;
}
.bean {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: linear-gradient(
		45deg,
		hsl(140deg, 60%, 50%),
		hsl(200deg, 90%, 50%)
	);
}
.bean:nth-child(1) {
	animation: BeansMove 4s infinite linear;
}
.bean:nth-child(2) {
	animation: BeansMove 4s infinite linear 1s;
}
.bean:nth-child(3) {
	animation: BeansMove 4s infinite linear 2s;
}
.bean:nth-child(4) {
	animation: BeansMove 4s infinite linear 3s;
}
.bean:nth-child(5) {
	animation: BeansMove 4s infinite linear 4s;
}
@keyframes UpRotate {
	50% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes DownRotate {
	50% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes BeansMove {
	0% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(-500px);
	}
}
