<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="./lib/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="content in comments">{{content}}</li>
        </ul>
        <div class="textInput">
            <input type="text" v-model="comment" @keyup.ctrl.enter.exact = "addComment">
        </div>
        <div class="textInput">
            <input type="text" v-model.lazy.trim.number="userName">
        </div>
        <p>{{ typeof userName}}</p>
        <div class="textInput">
            <input type="text" v-model.number="year">
        </div>
        <p>{{ typeof year}}</p>
    </div>
<script src="index.js"></script>
</body>
</html>